@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

.top-container {
    width: 1440px;
    height: 778px;
    flex-shrink: 0;
    opacity: 1;
    background: linear-gradient(238deg, #fcdbdb 0%, rgba(230, 70, 70, 0.00) 46.48%);
    margin: 0 auto; /* 中央寄せ */
    position: relative; /* 子要素の絶対位置指定のため */
}

.logo-top {
    position: absolute;
    top: 44px;
    left: 62px;
    width: 140px;
    height: 28px;
    flex-shrink: 0;
    z-index: 1000;
}

.custom-logo {
    position: absolute;  /* 絶対位置指定 */
    top: 1px;            /* main-containerの最上辺から1px */
    left: 1133.6px;        /* 左辺から1163px */
    width: 306.404px;    /* 幅 */
    height: 717.793px;   /* 高さ */
    flex-shrink: 0;
    z-index: 100;       /* 他の要素の上に表示 */
}
.creative-group {
    position: absolute;
    top: 303px;
    left: 813px;
    width: 613.551px;
    height: 976.316px;
    flex-shrink: 0;
    z-index: 1000;
}

.text-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    object-fit: cover;
    flex-shrink: 0;
    z-index: 1;
}

.creative-text {
    position: relative;
    font-family: 'Jura', sans-serif;
    font-size: 66.947px;
    font-weight: 700;
    font-style: normal; 
    line-height: 79px;
    letter-spacing: -1.339px;
    z-index: 2;
    color: #E64646; /* 文字自体の色 */
    -webkit-text-stroke: 1px #E85959; /* 縁取りの色と太さ */
    flex-shrink: 0;
    background-size: cover;
    background-position: center;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    mix-blend-mode: multiply; /* 画像と文字色を合成 */
}

.new-class {
    width: 577px;
    height: 1128px;
    flex-shrink: 0;
    position: absolute;
    left: 70px;
    right: 793px;
}

.left-container {
    width: 685.428px;
    height: 1229px;
    flex-shrink: 0;
    position: absolute;
    left: 80px;
    top: 119px;
    z-index: 600;
    background: url('../../public/image/left.png') lightgray 50% / cover no-repeat;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    clip-path: path('M0 15 C1 3.716 7.716 3 23 0 L30 0 Q45 0 51 16 L665 1229 L0 1229 Z');
}

.new-right-container {
    width: 406.737px;
    height: 765.771px;
    flex-shrink: 0;
    background: url('../../public/image/right.png') lightgray 50% / cover no-repeat;
    position: absolute;
    top: 119px; 
    left: 255.75px; 
    z-index: 1050;
    border-top-left-radius: 40px;
    border-top-right-radius: 20px;
    clip-path: path('M30 0 C20 0 0 10 0 53 L364.537 735.731 C376.737 765.76 406.737 765.771 406.737 765.771 L406.736 0 L40 0');
}

.creative-ai {
    position: absolute; /* 位置を絶対指定 */
    top: 563px; /* 上辺の位置 */
    left: 818px; /* 左辺の位置 */
    color: #1F1F1F;
    font-family: "Noto Sans JP", sans-serif; /* フォントファミリーを指定 */
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 4.32px;
    flex-shrink: 0;
    z-index: 100;
}

.custom-position {
    width: 1440px;
    height: 190px;
    flex-shrink: 0;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(7px);
    position: absolute; /* 位置を絶対指定 */
    top: 778px; /* main-containerの最上部から778pxの位置 */
    left: 0; /* 左端に配置 */
    z-index: 1100; /* 他の要素の上に表示 */
}

.description-text {
    width: 664px;
    color: #1F1F1F;
    font-family: "Noto Sans JP";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 200% */
    position: absolute; /* 位置を絶対指定 */
    top: 828px; /* main-containerの最辺から828pxの位置 */
    left: 40px; /* 左辺から40pxの位置 */
    flex-shrink: 0;
    z-index: 1200; /* 他の要素の上に表示 */
}

.top-text {
    position: absolute;
    top: 39px; /* メインコンテナの最上辺39 */
    left: 950px; /* 左辺950 */
    color: #1F1F1F;
    font-family: "Noto Sans JP";
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    flex-shrink: 0;
    white-space: nowrap;
}

.service-text {
    position: absolute;
    top: 39px; /* メインコンテナの最上辺39 */
    left: 1032px; /* 左辺1032 */
    color: #1F1F1F;
    font-family: "Noto Sans JP";
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    flex-shrink: 0;
    white-space: nowrap;
}

.flow-text {
    position: absolute;
    top: 39px; /* メインコンテナの最上辺39 */
    left: 1136px; /* 左辺1136 */
    color: #1F1F1F;
    font-family: "Noto Sans JP";
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    flex-shrink: 0;
    white-space: nowrap;
}

.works-text {
    position: absolute;
    top: 39.5px; /* メインコンテナの最上辺39.5 */
    left: 1233px; /* 左辺1233 */
    color: #1F1F1F;
    font-family: "Noto Sans JP";
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    flex-shrink: 0;
    white-space: nowrap;
}

.contact-text {
    position: absolute;
    top: 40px; /* メインコンテナの最上辺40 */
    left: 1322px; /* 左辺1322 */
    color: #1F1F1F;
    font-family: "Noto Sans JP";
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    flex-shrink: 0;
    white-space: nowrap;
}

.top-button-text {
    position: absolute;
    top: 64px; /* メインコンテナの最上辺64 */
    left: 938px; /* 左辺938 */
    color: #1F1F1F;
    font-family: "Noto Sans JP";
    font-size: 13px;
    font-style: normal;
    font-weight: 400; /* フォントウェイトを400に変更 */
    line-height: normal;
    flex-shrink: 0;
    white-space: nowrap;
}

.service-button-text {
    position: absolute;
    top: 64px; /* メインコンテナの最上辺64 */
    left: 1030px; /* 左辺1030 */
    color: #1F1F1F;
    font-family: "Noto Sans JP";
    font-size: 13px;
    font-style: normal;
    font-weight: 400; /* フォントウェイトは400 */
    line-height: normal;
    flex-shrink: 0;
    white-space: nowrap;
}

.development-flow-text {
    position: absolute;
    top: 64px; /* メインコンテナの最上辺64 */
    left: 1122px; /* 左辺1122 */
    color: #1F1F1F;
    font-family: "Noto Sans JP";
    font-size: 13px;
    font-style: normal;
    font-weight: 400; /* フォントウェイトは400 */
    line-height: normal;
    white-space: nowrap; /* テキストを横に表示 */
    flex-shrink: 0;
    white-space: nowrap;
}
.case-study-text {
    position: absolute;
    top: 63.5px; /* メインコンテナの最上辺63.5 */
    left: 1227px; /* 左辺1227 */
    color: #1F1F1F;
    font-family: "Noto Sans JP";
    font-size: 13px;
    font-style: normal;
    font-weight: 400; /* フォントウェイトは400 */
    line-height: normal;
    white-space: nowrap; /* テキストを横に表示 */
    flex-shrink: 0;
    white-space: nowrap;
}
.inquiry-text {
    position: absolute;
    top: 64px; /* メインコンテナの最上辺64 */
    left: 1309px; /* 左辺1309 */
    color: #1F1F1F;
    font-family: "Noto Sans JP";
    font-size: 13px;
    font-style: normal;
    font-weight: 400; /* フォントウェイトは400 */
    line-height: normal;
    white-space: nowrap; /* テキストを横に表示 */
    flex-shrink: 0;
    white-space: nowrap;
}
.vector-icon {
    position: absolute;
    top: 46px; /* メインコンテナの最上辺46 */
    left: 1311px; /* 左辺1311 */
    width: 9.095px; /* 幅 */
    height: 17.138px; /* 高さ */
    transform: rotate(0deg); /* 向きを修正 */
    fill: #E64646; /* 塗りつぶし色 */
    flex-shrink: 0; /* 縮小しない */
}
.vector-icon-2 {
    position: absolute;
    top: 38px; /* メインコンテナの最上辺38 */
    left: 1373px; /* 左辺1373 */
    width: 9.095px; /* 幅 */
    height: 17.138px; /* 高さ */
    transform: rotate(-6.841deg); /* 回転 */
    fill: #E64646; /* 塗りつぶし色 */
    flex-shrink: 0; /* 縮小しない */
}

.btn-image {
    position: absolute; /* 位置を絶対指定 */
    width: 224px; /* 幅 */
    height: 46px; /* 高さ */
    top: 857px; /* メインコンテナの最上辺からの位置 */
    left: 1176px; /* 左辺からの位置 */
    z-index: 1200; /* 他の要素の上に表示 */
    flex-shrink: 0;
}

